@import "compass/reset"
@import "compass/css3"
@import "base"
@import 'idangerous.sass'

// swiper
.swiper-container
  height: 100%

.swiper-wrapper
  height: 100%

.swiper-slide
  position: relative

.pre-view
  // todo
  background: #fff

.game-view
  // todo
  background: #ddd

.go-next-view
  position: absolute
  bottom: 10px

  width: 100%
  text-align: center
  font-size: 30px

